annotated-types==0.7.0
asgiref==3.11.1
Django==6.0.2
django-ninja==1.5.3
dnspython==2.8.0
email-validator==2.3.0
idna==3.11
pillow==12.1.1
psycopg2-binary==2.9.11
pyasn1==0.6.2
pydantic==2.12.5
pydantic_core==2.41.5
sqlparse==0.5.5
typing-inspection==0.4.2
typing_extensions==4.15.0
